# Frontend Environment Variables Template
# Ubicación: apps/web/.env.local

NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=AgentLink
NEXT_PUBLIC_SUPABASE_URL=https://zzwfvorthznbkpgsidrq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_MNuzV27PQzxHNBWDP3Geow_AJ_eVQ3-
